
@{
    ViewBag.Title = "Blockly";
}
@section Scripts{
    <script src="~/Scripts/blockly/blockly_compressed.js"></script>
    <script src="~/Scripts/blockly/javascript_compressed.js"></script> <!-- code generator js -->
    <script src="~/Scripts/blockly/blocks_compressed.js"></script>
    <script src="~/Scripts/blockly/blockdefinition.js"></script> <!-- custom definitions blocks -->
    <script src="~/Scripts/blockly/fr.js"></script> <!-- ressources fr -->
    <script>
        var workspace;

        $(document).ready(function () {


            workspace = Blockly.inject('blocklyDiv', { toolbox: document.getElementById('toolbox') });
            Blockly.JavaScript['scene'] = function (block) {
                // String or array length.
                var argument0 = block.getFieldValue('SCENE_NAME');
                return 'alert("' + argument0 + '");';
            };

            Blockly.JavaScript['powerpoint'] = function (block) {
                // String or array length.
                var argument0 = block.getFieldValue('POWERPOINT_NAME');
                return 'alert("' + argument0 + '");';
            };

            //var test = Blockly.getFieldValue('POWERPOINT_NAME');
            //test.showEditor_(() => alert("Intercepted"));
            //let fileInput = new Blockly.FieldTextInput('** CHOOSE A FILE **')
            //fileInput.showEditor_ = (() => alert("Intercepted"))
            //var test = Blockly.Blocks['powerpoint'].block.getFieldValue('POWERPOINT_NAME');
            //test.showEditor_ = (() => alert("Intercepted"));
        });

        function Send() {
            console.log("Sending...");
            var xml = Blockly.Xml.workspaceToDom(workspace);

            console.log(xml);
        };

        function SendXmlToServer() {
            var xml = Blockly.Xml.workspaceToDom(workspace);
            xml = new XMLSerializer().serializeToString(xml);
            $.ajax({
                url: "/Home/XmlData",
                type: "POST",
                data: { xmlModel: xml },
                success: function (data) { alert("OK") }
            });

        };

        function GenerateCode() {
            //TODO
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            try {
                eval(code);
            } catch (e) {
                alert(e);
            }
        };

        function GenerateZip() {
            //TODO
            alert("Not implented yet."+this.value);
        };

    </script>

}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Message</p>
</div>
<div class="row">
    <div id="blocklyDiv" style="height: 580px; width: 900px;"></div>
    <xml id="toolbox" style="display: none">
        <block type="scene"></block>
        <block type="sceneactions"></block>
        <block type="powerpoint"></block>
        <block type="audio"></block>
        <block type="video"></block>
        <block type="display"></block>
        <block type="sound"></block>
    </xml>
</div>
<div class="row">
    <a class="btn btn-default" onclick="SendXmlToServer()">Execute</a>
    <a class="btn btn-default" onclick="GenerateCode()">Generate code</a>
    <a class="btn btn-default" onclick="GenerateZip()">Generate zip</a>
    <input type="file" id="theFile" />
</div>
